.btn-custom {
    background-color: #130a63; 
    border-color:#130a63;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}
.btn-send {
    background-color: #130a63; 
    border-color:#130a63;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    display: flex;
}
